.popup__image-title {
  position: fixed;
  top: calc(50% + 279.5px);
  left: calc(50% - 400px);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin: 0;
}
@media screen and (max-width: 931px) {
  .popup__image-title {
    top: calc(50% - -159px);
    left: calc(50% - 120px);
  }
}