.popup__error-icon {
  background-image: url(../../../images/Union.svg);
  min-width: 120px;
  min-height: 120px;
  background-repeat: no-repeat;
  display: flex;
  align-self: center;
  margin-top: 26px;
  margin-bottom: 32px;
}