.element__delete {
  background-image: url("../../../images/element-delete.svg");
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  border: 0;
  padding: 0;
}
.element__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}